<template>
	<div class="md:grid md:grid-cols-1 md:gap-6 ">
	    <div class="mt-5 md:mt-0 md:col-span-2">
	      	<form action="#" method="POST">
		      	<!-- Form Container -->
		      	<div v-if="errors.length" class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
			      	<p>
					    <b>Please correct the following error(s):</b>
					    <ul>
					    	<li v-for="error in errors">{{ error }}</li>
					    </ul>
					</p>
				</div>
		        <div class="shadow sm:rounded-md sm:overflow-hidden p-2">
		        	 <!-- Title Label -->
		          	<div class = "pt-2">
                		<label for="title" class="block text-sm font-medium text-gray-700">Article Title</label>
                		<div class="mt-1 flex rounded-md shadow-sm">
                  			<input type="text" class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 mt-1 block w-full sm:text-sm border border-gray-300 rounded-md pl-1" placeholder="Title of the article" v-model="form.title">
                		</div>		
		            </div>
		            <!-- Category Label -->
		            <div class = "pt-2">
		              	<label for="category_id" class="block text-sm font-medium text-gray-700">Article Category</label>
		              	<div class="mt-1">
		                	<select  v-model="form.category_id" class = "shadow-sm focus:ring-indigo-500 focus:border-indigo-500 mt-1 block w-full sm:text-sm border border-gray-300 rounded-md pl-1">
						        <option v-for="category in categories" :value="category.id">
						            {{category.name}}
						        </option>
						    </select>  
		              	</div>
		            </div>
		            <!-- Description Label -->
		            <div class = "pt-2">
		              	<label for="description" class="block text-sm font-medium text-gray-700">Article Content</label>
		              	<div class="mt-1">
		                	<textarea rows="10" class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 mt-1 block w-full sm:text-sm border border-gray-300 rounded-md pl-1" placeholder="What the article is all about" v-model="form.description"></textarea>
		              	</div>
		            </div>
		            <!-- Upload photo -->
		            <!-- <div class = "pt-2">
			            <label class="block text-sm font-medium text-gray-700">
			                Cover photo
			            </label>
		              	<div class="mt-1 flex justify-center px-6 pt-5 pb-6 border-2 border-gray-300 border-dashed rounded-md">
		                	<div class="space-y-1 text-center">
		                  		<svg class="mx-auto h-12 w-12 text-gray-400" stroke="currentColor" fill="none" viewBox="0 0 48 48" aria-hidden="true">
		                    		<path d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
		                  		</svg>
		                  		<div class="flex text-sm text-gray-600">
		                    		<label for="file-upload" class="relative cursor-pointer bg-white rounded-md font-medium text-indigo-600 hover:text-indigo-500 focus-within:outline-none focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-indigo-500">
		                      			<input type="file" accept="image/*" @change=uploadImage >
		                    		</label>
		                  		</div>
		                  		<p class="text-xs text-gray-500">
		                    		PNG, JPG, GIF up to 10MB
		                  		</p>
		                	</div>
		              	</div>
		            </div> -->
		        </div>
		        <!-- Buttons -->
		        <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
		            <button @click.prevent="saveForm" type="submit" class="flex text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">Save</button>
		        </div>
	      	</form>
	    </div>
  	</div>
</template>


<script>
export default{
	data(){
        return{
            form:{
                title: '',
                description: '',
                category_id: 1
            },
            errors:[],
            categories:''
        }
    },
    mounted() {   
    	if(this.$route.params.id){
    		axios.get('/api/article/'+this.$route.params.id)
	    	.then((response)=>{
	            //this.articles = response.data.data;
	            this.form.title = response.data.data.title;
	            this.form.description = response.data.data.description;
	            this.form.category_id = response.data.data.category_id;
	            //console.log(response.data.data.title);
	        })
	    	.catch((error) =>{
	            console.log(error);
	        })
    	}    
  	},
    methods:{
    	checkForm(){
		    this.errors = [];

	    	if (!this.form.title) {
	        	this.errors.push("Title required.");
	      	}
	      	if (!this.form.description) {
	        	this.errors.push('Description required.');
	      	}

	      	if (!this.errors.length) {
	        	return true;
	      	}else{
	      		return false;
	      	}
	    },
        saveForm(){
        	if(this.checkForm() == true){
				if(this.$route.params.id != "new"){
	        		axios.post('/api/article/'+this.$route.params.id, this.form)
		        	.then( response => {
		        		if( response.status == 200 && response.isValid != false){
		        			this.$router.push({name: "List"});
		        		}
		        	})
		        	.catch((error) =>{
		                console.log(error);
		            })
	        	}else{
	        		axios.post('/api/article', this.form)
		        	.then( response => {
		        		if( response.status == 201 && response.isValid != false){
		        			this.$router.push({name: "List"});
		        		}
		        	})
		        	.catch((error) =>{
		                console.log(error);
		            })
	        	}
        	}
        },
        getCategory(){
        	axios.get('/api/category')
        	.then((response)=>{
	            this.categories = response.data.data;
	        })
        	.catch((error) =>{
                console.log(error);
            })
        }
    },
  	created: function () {          
    	this.getCategory();
  	}
}
</script>