<template>
    <div v-if="articles">
	    <main class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 pt-4">
		    <div class="sm:text-center lg:text-left border-b pb-4 pt-4" v-for="(article, index) in articles">
			    <h1 class="text-lg tracking-tight font-extrabold text-gray-900 sm:text-lg md:text-lg">
				    <span class="block">{{article.title}}</span>
				    <span class="block text-indigo-600">{{article.category.name}}</span>
			    </h1>
			    <p class="mt-3 text-base text-gray-500 sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto md:mt-5 md:text-xl lg:mx-0">
			        {{article.description}}
			    </p>
			    <div class="mt-5 sm:mt-8 sm:flex sm:justify-center lg:justify-start">
				    <div class="rounded-md shadow">
				    	<router-link class="w-full flex items-center justify-center px-4 py-1 border border-transparent text-base font-small rounded-md text-white bg-indigo-600 hover:bg-indigo-700 md:text-md" :to="'/article/' + article.id" exact>
				    		Update
				    	</router-link>
			    	</div>
				    <div class="mt-3 sm:mt-0 sm:ml-3">
				    	<button @click.prevent="deleteForm(article.id,index)" type="submit" class="w-full flex items-center justify-center px-4 py-1 border border-transparent text-base font-small rounded-md text-indigo-700 bg-indigo-100 hover:bg-indigo-200 md:text-md">Delete</button>
				    </div>
			    </div>
		    </div>
	    </main>
    </div>
</template>


<script>
export default{
	data(){
        return{
            articles: '',
        }
    },
  	mounted() {          
    	this.getResults();
  	},
  	methods:{
  		getResults(){
  			axios.get('/api/article')
	    	.then((response)=>{
	    		console.log(response);
	            this.articles = response.data.data;
	        })
	    	.catch((error) =>{
	            console.log(error);
	        })
  		},
        deleteForm(id,index){
        	if(confirm("Do you really want to delete article?")){
	        	axios.delete('/api/article/delete/'+id)
		    	.then((response)=>{
		    		if(response.status == 204){
						this.articles.splice(index, 1);
		    		}
		            //this.$router.push({name: "List"});
		        })
		    	.catch((error) =>{
		            console.log(error);
		        })
		    }
        }
    }
}
</script>