<template>
	<div class = "absolute inset-0 bg-gray-200 items-center flex justify-center">
		<div class = "text-3xl">
			<h1>404 Page Not Found</h1>
		</div>
	</div>
</template>


<script>
export default{

}
</script>